Научка.code-workspace
data/raw/lo2/*
data/raw/loghub2/*
data/raw/rcaeval/*
data/processed/**/*
data/splits/**/*
outputs/**/*
!data/processed/**/.gitkeep
!data/splits/.gitkeep
!outputs/**/.gitkeep
data/processed/*
src/__pycache__
src/utils/__pycache__
src/models/__pycache__
src/evaluation/__pycache__
src/training/__pycache__
src/data/__pycache__
scripts/__pycache__
src/xai/__pycache__
src/visualization/__pycache__